<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AccountRestAPISuite">
<listeners>
	<listener class-name="com.accountapi.utilities.Listeners" />
</listeners>
	<test thread-count="5" name="accountRestAPITest">
		<classes>
			<class name="com.accountapi.testCases.TC003_Post_Account_Record" />

			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
